{% extends 'index.html' %}

{% block base %}
<div class="row">
    <div class="col-md-4">
        <h2>futbol sala</h2>
        <p></p>
        <p><a class="btn btn-primary" href="#" role="button">View details &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>baloncesto</h2>
        <p></p>
        <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
    </div>
    <div class="col-md-4">          
        <h2>volleyball</h2>
        <p></p>
        <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
    </div>
</div>
{% endblock %}
