

{% extends 'index.html' %}

{% block persona %}


<div class="panel panel-info">
  <div class="panel-heading">Arbitro del Partido</div>
  <div class="panel-body">
    <form  class="form-horizontal" method="POST" action="">{% csrf_token %}
    	<div class="form-group" style="width:30%;margin:auto;">

        Partido:{{form.id_partido}}<br />
        Persona:{{form.id_persona}}<br />
        Rol:{{form.id_rol}}<br />
        <button type="submit" class="btn btn-info" style="margin-left:40%">ACEPTAR</button>   

    	</div>
    		
	</form>
  </div>
</div>


{% endblock %}
