

{% extends 'index.html' %}

{% block persona %}


<div class="panel panel-info">
  <div class="panel-heading">Campeonato</div>
  <div class="panel-body">
    <form  class="form-horizontal" method="POST" action="">{% csrf_token %}
    	<div class="form-group" style="width:30%;margin:auto;">
    		
       
       ID del Campeonato:{{form.id_campeonato}} <br />
       Nombre del Campeonato:{{form.nombre_campeonato}} <br />
       Fecha de inicio:{{form.fecha_inicio}} <br />
       Fecha de finalizacion:{{form.fecha_final}} <br />
        ID de la Disciplina{{form.id_disciplina}} <br />

        <button type="submit" class="btn btn-info" style="margin-left:40%">ACEPTAR</button>   

    	</div>
    		
	</form>
  </div>
</div>


{% endblock %}
